<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by User"
          [(ngModel)]="user"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Logs</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let log of logs; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveLog(log, i)"
        >
          {{ log.user }} {{ log.time}}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="currentLog">
        <h4>Details</h4>
        <div>
          <label><strong>User:</strong></label> {{ currentLog.user }}
        </div>
        <div>
            <label><strong>Beer:</strong></label> {{ currentLog.tap.brewery }} {{ currentLog.tap.beer }}
        </div>
        <div>
          <label><strong>Volume:</strong></label> {{ currentLog.volume }}
        </div>
        <div>
          <label><strong>Time:</strong></label>{{ currentLog.time }}
        </div>
        <button class="badge badge-danger mr-2" (click)="deleteLog()">
          Delete
        </button>

      </div>
  
      <div *ngIf="!currentLog">
        <br />
        <p>Click on a Log for details</p>
      </div>
    </div>
  </div>