<div class="col-md-6">
  <div *ngFor="let lefttap of left">
    <h4>Left Tap</h4>
    <div>
        <label><strong>Brewery:</strong></label> {{ lefttap.brewery }}
    </div>
    <div>
      <label><strong>Beer:</strong></label> {{ lefttap.beer }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ lefttap.description }}
    </div>
    <div>
        <label><strong>ABV:</strong></label> {{ lefttap.abv }}
    </div>
    <div>
        <label><strong>Remaining Volume:</strong></label> {{ lefttap.remainingVolume | number:'1.1-2'}}
    </div>
  </div>
</div>
<div class="col-md-6">
  <div *ngFor="let righttap of right">
    <h4>Right Tap</h4>
    <div>
        <label><strong>Brewery:</strong></label> {{ righttap.brewery }}
    </div>
    <div>
      <label><strong>Beer:</strong></label> {{ righttap.beer }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ righttap.description }}
    </div>
    <div>
        <label><strong>ABV:</strong></label> {{ righttap.abv }}
    </div>
    <div>
        <label><strong>Remaining Volume:</strong></label> {{ righttap.remainingVolume | number:'1.1-2' }}
    </div>
  </div>
</div>
